import React from 'react';
{{#if observer}}
import {observer, inject} from 'mobx-react';
{{/if}}

import styles from './{{dashCase componentName}}.css';

{{#if observer}}
export default inject('store')(observer(function {{ properCase componentName }}() {
    return (
        <div className={ styles.{{camelCase componentName}} }>
            <h2>{{ properCase componentName }}</h2>
        </div>
    );
}));

{{else}}
export default function {{ properCase componentName }}() {
    return (
        <div className={ styles.{{camelCase componentName}} }>
            <h2>{{ properCase componentName }}</h2>
        </div>
    );
}

{{/if}}
